@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  background: var(--off-white);
  -webkit-font-smoothing: antialiased;
}

body,
button {
  /* font-size: 32px; */
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.container {
  margin: 5em auto;
}

.card {
  background: var(--white);
  padding: 4em 4em;
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 2em 2em 8em 2em;
}

form {
  margin-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

form input {
  border: 1px solid;
  border-color: var(--light-grey);
  width: 5em;
  height: 3em;
  border-radius: 8px;
  margin-top: 0.5em;
}

form input::placeholder {
  color: var(--light-grey);
  font-size: 18px;
  padding: 1em;
}

.day,
.month,
.year {
  display: flex;
  flex-direction: column;
}

.separator hr {
  background-color: var(--smokey-grey);
  height: 2px;
  width: 100%;
}

.separator img {
  background: var(--purple);
  margin: auto;
  position: relative;
  bottom: 2.5rem;
  padding: 1rem;
}

.result h1 {
  font-size: 4em;
  font-weight: 800;
  font-style: italic;
}

.result span {
  color: var(--purple);
  font-weight: 900;
}